name: test run setup

on:
  push:
    paths:
        - 'warpi_setup.sh'
        - '.github/workflows/test-install.yml'
        - 'warpigui.py'
  pull_request:
    paths:
        - 'warpi_setup.sh'
        - '.github/workflows/test-install.yml'
        - 'warpigui.py'

jobs:
  run-program:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v6
    
    - name: Run the setup
      run: |
        sudo ./warpi_setup.sh
